@model IEnumerable<MCO_Juryplattform.FormQuestions>

@{
	ViewBag.Title = "Index";
}

<h2>Index2</h2>

@using (Html.BeginForm("Index", "QuestionController", FormMethod.Post))
{
	<table class="table">
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Question)
			</th>
			<th></th>
		</tr>

		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Question)
				</td>
				<td>
					@Html.RadioButton(item.Id.ToString(), new { id = 0 })
					@Html.RadioButton(item.Id.ToString(), new { id = 1 })
					@Html.RadioButton(item.Id.ToString(), new { id = 2 })
					@Html.RadioButton(item.Id.ToString(), new { id = 3 })
					@Html.RadioButton(item.Id.ToString(), new { id = 4 })
				</td>
			</tr>
		}
		<tr>
			
			<td><input type="submit" value="Submit" /></td>
		</tr>
	</table>
	
}
